#piechart
%input{:id => "status.new", :name => "status.new", :type => "hidden"}
%input{:id => "status.calling", :name => "status.calling", :type => "hidden"}
%input{:id => "status.called", :name => "status.called", :type => "hidden"}
%input{:id => "status.abandoned", :name => "status.abandoned", :type => "hidden"}
