%form{:id => "call", :name => "call", :method => "POST", :action => ""}
  %label{:for => "name"} Name:
  %input{:id => "name", :name => "name", :type => "text"}
  %label{:for => "tn"} Telephone Number:
  %input{:id => "tn", :name => "tn", :type => "text"}
  %input{:type => "submit", :value => "Call Me!", :class => "comment_submit"}
%h1 Calls
%ul
- @coll.find().each do |row|
  %li
    = "#{row['name']} :: #{row['tn']}"
#chat