.prefix_2.grid_8.suffix_2#form
  %form{:id => "call", :name => "call", :method => "POST", :action => "",:class => "contact"}
    %ul
      %li
        .prefix_1.grid_2
          %label{:for => "name"} Name:
          %input{:id => "name", :name => "name", :type => "text"}
        .prefix_1.grid_2
          %label{:for => "tn"} Telephone Number:
          %input{:id => "tn", :name => "tn", :type => "text"}
      %li
        .prefix_1.grid_2
          %label{:for => "age"} Age:
          %input{:id => "age", :name => "age", :type => "text"}
        .prefix_1.grid_2
          %label{:for => "zip"} Zip Code:
          %input{:id => "zip", :name => "zip", :type => "text"}
      %li
        .push_1.grid_4.suffix_8
          %input{:type => "submit", :value => "Call Me!", :class => "comment_submit"}
