!!! 5
/[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]
/[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]
/[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]
/[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]
%head
  %meta{:charset => "utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible" ,:content => "IE=edge,chrome=1"}/
  %title
    Calls
  %meta{:name => "description", :content => ""}
  %meta{:name => "author", :content => ""}

  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %link{:rel => "shortcut icon" , :href => "/favicon.ico"}
  %link{:rel => "app-touch-icon", :href =>"/apple-touch-icon.png"}

  %link{:rel => "stylesheet", :href => "/css/style.css?v=2"}
  %link{:rel => "stylesheet", :media => "handheld", :href => "css/handheld.css?v=2"}
  %link{:rel => "stylesheet", :href => "/css/960.css"}
  %link{:rel => "stylesheet", :href => "/css/cupertino/jquery-ui-1.8.14.custom.css"}

  %script{:src => "js/libs/modernizr-1.7.min.js"}
%body
  .heady
    #banner
      .container_16
        .grid_2.push_14.toplink
          Login
        .grid_2.push_10.toplink
          Get a Quote!
        .grid_2.push_6.toplink
          Home
    #masthead
      .grid_16
        %img{:src => "/img/masthead.png"}
  .container_16
    #main{:role => "main"}
      = yield
    %footer
      #footer

%script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
%script{:src => "https://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"}
%script{:src => "https://maps.google.com/maps/api/js?key=AIzaSyDtUXBdnaY4eh2oH-nEGbviqhYsX6kC6uQ&callback=initMap&sensor=false"}
%script{:src => "https://localhost:8910/socket.io/socket.io.js"}
%script{:src => "/js/libs/jquery-ui-1.8.14.custom.min.js"}
%script{:src => "/js/phone_app_client.js"}
%script{:src => "https://www.google.com/jsapi"}
:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  function initMap(){
  return true
  }

    

